/*@media (min-width: 769px) {
    .menu {
        display: flex;
        flex: 1:
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 1025px) {
    .menu {
        display: flex;
        flex: 1:
        flex-direction: row;
        justify-content: space-between;
    }
}
*/