
*{
    font-family:Calibri;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(231, 222, 221);    
    color:rgb(36, 49, 10);
    font-style:normal;
      
}

.leave_message {
    margin: 0px;
    background-color:white;
    align-items:center;
    font-size: 44 px;
    border:1rem solid white;
    border-top-left-radius:3rem;
    border-top-right-radius: 3rem;
}
#leave_message {
    margin: 0px;
    background-color:white;
    align-items:center;
    font-size: 44 px;
    border:1rem solid white;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;    
}

section {
    font-size: 1.5rem;
}
.Me {
    background-color:white;
}

#myName {
    display: grid;
    border:1rem solid white;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius:3rem;
    border-top-right-radius: 3rem;
    background-color:white;
    margin:0px;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    grid-gap: 10%;
    list-style:none;  
    font-size: 5rem;
    font-weight:bold;
    align-items:center;
    
}
.experience {
    display: grid;
    list-style:decimal;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    align-items: baseline;    
   }

#skills {
    /* display: grid; */
    background-color: rgb(241, 233, 232); 
    border:1rem solid rgb(241, 233, 232); 
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius:3rem;
    border-top-right-radius: 3rem;
    margin: 0px;
    
}

.skill {
    
    background-color: rgb(241, 233, 232); 


}

.skills {
    
    padding: 0px;


}

.label_skills {
    background-color: rgb(241, 233, 232);
    padding: 0px;     
}

  
h1 {
    font-style: oblique;
    font-size: 5 rem;
    font-weight:600;
}   

label {
    background-color:white;
    font-size: 30px;

}

#text {
 height: 30px;
 width: 300px;
 background-color: cadetblue;
 color: white; 
 font-stretch: extra-expanded;
 font-size: 30px;
 margin-top: 10px;
 margin-bottom: 10px;  
}

#email {
    height: 30px;
    width: 300px;
    background-color: cadetblue;
    color: white;    
    font-stretch: extra-expanded; 
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;   
}

#message {
    /* color:rgb(36, 49, 10); */
    background-color: cadetblue;
    width: 300px;
    color: white;    
    font-stretch: extra-expanded;
    font-size: 30px; 
    margin-top: 10px;
    margin-bottom: 10px; 
      
}
  

#submit {
color: white;
font-size: 30px;
font-weight: bolder;
/* padding: 30px; */
background-color: rgb(136, 55, 7);
border-spacing: 1em;
border-style:solid;
width: 150px;

}


a:visited {
    color: rgb(136, 55, 7);
}
a:hover {
    color: red;
}
a:focus {
    color: red;
    background:rgb(241, 233, 232);
}

/* p {
    
    padding-top: 20px; 
    
} */
.messages {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
}   

li {
    display:grid;
    list-style:none;
    margin:0px;
    /* background:rgb(241, 233, 232); */
    
}
button {
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    width: 100px;
    }

footer {
    width: 97%;
    font-size: 24px;
    margin: 15px;
    padding: 10px;
    /* background-color: rgb(241, 233, 232); */
    display: inline-flex;
    justify-content: center;
    flex-direction:row-reverse;
    flex-direction: 1;
    /* flex-grow: 10; */
    list-style:none;
    
    /* background-color: rgb(241, 233, 232); 
    margin:0px; */
    border:3px solid  rgb(241, 233, 232);
    
    /* border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius:3px;
    border-top-right-radius: 3px;   */
}

#connect {
    display: grid;
    justify-self:self-end;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    flex-grow: 5;
    list-style:none;
}


    .menu {
        font-size: 2rem;    

    }

@media (max-width: 1025px) {
    #myPhoto {
        min-width: 100px;
        }

    .menu {
        display: flex;
        padding: 10px 15px;
        top: 0;
        justify-content: space-between;
        list-style:none;        
        flex-grow: 20%;
        flex-direction: column;        
        flex-wrap: wrap;
        font-size: 50px;
        align-items:center;
    }

label {

    font-size: 40px;
}

footer {
    font-size: 40px;
}
    

submit {
    font-size: 50px;
}    
    
}

@media (min-width: 1025px) {
    .menu {
        display: flex;        
        padding: 10px 15px;
        top: 0;
        list-style:none;        
        flex-grow: 300px;
        flex-direction: row;        
        justify-content:flex-end;
        align-items: center;
       
    }

    a {
        margin: 15px;
        padding: 0px;
    }

   
}
